html, body
{

	width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
	overflow: visible;
	background-color: white;
}

.container{
	position: relative;
	overflow: hidden;
	background-color: white;
}
#container2{
	width: 100%;
	height: 100%;
	display: block;
	min-width: 1200px;
	min-height:700px;
	padding: 30px;
	background-color: white;
}

#glcanvas{
	position: absolute; 
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height:700px;
	z-index: 0;
	display: block;
}

#imageCanvas{
	position: absolute; 
	top: 0%;
	left: 0%;
	z-index: 3;
	display: none;
}

#text{
	position: absolute; 
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height:700px;
	z-index: 1;
	display: block;
}
#colordrop {
	border: 1px solid #000000;
	z-index: 2;
	position: absolute;
}
select{
    width: 225px;
    overflow-x: hidden;
	overflow-y:scroll;
    display: inline-block;
    white-space: nowrap;
}

#selector1{
	display: none;
}
#selector2{
	display: none;
}
#selector3{
	display: none;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
	position: absolute;
	display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.button{
	font: 12px, sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
	position: absolute;
	width:70px;
	height: 30px;
}
.button:hover{
	outline: 2px solid black;
	cursor: default;
}
.button:active {
	outline: 2px solid #666666;
} 
.fadeButton{
	position: absolute;
	width:32px;
	height: 32px;
	line-height: 32px;
	opacity: 0.2;
	z-index:1;
	transition: opacity 2s 0.5s;
	
}
.fadeButton:hover{
	opacity: 0.6;
	transition: opacity 0.5s;
	cursor: default;
}
.fadeButton:active{
	opacity: 1.0;
}
.fadebutton{
	float: right;
	color: white;
	background: #333333;
	text-align: center;
	width:36px;
	height: 24px;
	margin-right: 3px;
	margin-top: 3px;
	opacity: 0.2;
	z-index:1;
	transition: opacity 0.5s;
}
.fadebutton:hover{
	opacity: 0.6;
	transition: opacity 0.5s;
	cursor: default;
}
.fadebutton:active{
	opacity: 1.0;
}
#button1{
	background-color: #3399ff;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
#button2{
	background-color: #3399ff;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
#button3{
	background-color: #3399ff;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
#button4{
	background-color: #7F00FF;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
#button5{
	background-color: #7F00FF;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
#lab{
	position: absolute;
	height: 30px;
	width:360px;
	z-index: 5;
	display: none;
	background-color: #cccccc;
}
#hideLab{
	right: 0%;
}
#labcanvas{
	float: left;
	z-index: 5;
	display: block;
	border: 2px solid #cccccc;
}
#coloriconcanvas{
	float: left;
	z-index: 1;
	display: block;
	border: 2px solid #cccccc;
}
#colormapcanvas{
	float: left;
	z-index: 1;
	display: block;
	border: 2px solid #cccccc;
	clear: left;
}
.canvas-holder{
	float:left;
}
.text-input{
	position: absolute; 
	top:0px;
	left:620px;
}
#list1label{
	position: absolute; 
	top:4px;
	left:170px;
}
#list2label{
	position: absolute; 
	top:4px;
	left:410px;
}
#button6{
	position: absolute; 
	background-color: #7F00FF;
	top:650px;
	left:900px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

#button7{
	position: absolute; 
	background-color: #7F00FF;
	top:650px;
	left:900px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

.lab-el{
	float: left;
	text-align: center;
	width: 33.3%;
	height: 5%;
	background-color: #cccccc;
}
.list_of_ctrl_points{
	clear: both;
	padding-left: 40px;
}
.list_of_ctrl_points .ui-selecting 
{
	background: #D6EAF8; 
}
.list_of_ctrl_points .ui-selected 
{ 
	background: #5DADE2; 
	color: white; 
}
.list_of_ctrl_points li{
	width: 100%;
}

.list_of_ctrl_points li div{
	width: 31%;
	float: left;
	text-align: center;
	overflow: hidden;
	display: inline-block;
}
.list_of_ctrl_points li .handle{
	width: 7%;
	height: 100%;
	background-color: white;
	text-align: center;
}
.list_of_ctrl_points li .handle span{
	margin: auto;
}
.sortable-placeholder {
	height: 20px;
    display: block;
}
.ctrl-button2{
	float: right;
	width: 25%;
	height: 30px;
}
.ctrl-button1{
	float: right;
	width: 46%;
	height: 30px;
}
.button-holder{
	clear: both;
	padding-right: 20px;
}
.LabList{
	float: left;
	width: 250px;
	height: 554px;
	overflow: visible;	
	border: 2px solid #cccccc;
	position: relative;
}
.labpoints{
	float: left;
	clear: both;
	width: 100%;
	height: 95%;
	overflow-y: auto;
	overflow-x: hidden;
}
#lab-inputs{
	width: 93%;
	height:	100%;
}
.lab-input{
	width: 33%;
	height: 100%;
	float: left;
}
#slider-vertical{
	float: left;
	height: 300px;
}