#scale_selection{
	height:100px;
	width:250px;
	border: 3px solid green;
}

canvas{
	position: absolute; 
}

 .dragme{
	position:absolute;
	width: 270px;
	height: 203px;
}

#drop1 {
	position:absolute;
	top:450px;
	left:700px;
  height: 100px;
  width: 250px;
  border: 1px solid blue;
}

#drop2 {
	position:absolute;
	top:450px;
	left:950px;
  height: 100px;
  width: 250px;
  border: 1px solid orange;
}

#selector1{
	position: absolute;
	top:600px;
	left:0px;
}

#selector2{
	position: absolute;
	top:600px;
	left:600px;
	
	
}