#scale_selection{
	height:100px;
	width:250px;
	border: 3px solid green;
}

canvas{
	position: absolute; 
	top: 0px;
	left: 0px; 
}

 .dragme{
	position:absolute;
	width: 270px;
	height: 203px;
}

#drop1 {

  border: 1px solid blue;
}

#drop2 {

  border: 1px solid orange;
}

#selector1{
	position: absolute;
	top:700px;
	left:0px;
}

#selector2{
	position: absolute;
	top:700px;
	left:600px;
	
	
}